[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.0.2"
mlflow = "*"
boto3 = "*"
xgboost = "*"
streamlit = "*"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"